{% extends 'base.html' %}
{% block content %}

<style>
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  /* height: 150px; */
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}






/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: 300px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 100;
  left:80;
  right: 0;
  background-color: #f844988c;
  overflow: hidden;
  width: 50%;
  height: 40%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

</style>


<div style="background-image: url(https://st2.depositphotos.com/1001411/10207/i/450/depositphotos_102074138-stock-photo-beautiful-tulips-on-wooden-background.jpg);background-repeat: no-repeat;background-size: cover;height: 250px;">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
          <h1 style="font-family: cursive;color: rgb(250, 121, 143);text-align: center;margin-top: 20%;">Gallery</h1>
  
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4"></div>
    </div>
  
  </div>



<!-- Container for the image gallery -->
<div class="container">

    <!-- Full-width images with number text -->
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
        <img src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 500px;">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
        <img src="https://wallpaperaccess.com/full/2130627.jpg" style="width:100%;height: 500px;">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMvO0nkYEP2t_vNwcQ39a402rcfzsXiEVz5w&usqp=CAUg" style="width:100%;height: 500px;">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
        <img src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 500px;">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
        <img src="https://wallpaperaccess.com/full/2130627.jpg" style="width:100%;height: 500px;">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
        <img src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 500px;">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
    <!-- Image text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  
    <!-- Thumbnail images -->
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 80px;" onclick="currentSlide(1)" alt="The Woods">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://wallpaperaccess.com/full/2130627.jpg" style="width:100%;height: 80px;" onclick="currentSlide(2)" alt="Cinque Terre">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMvO0nkYEP2t_vNwcQ39a402rcfzsXiEVz5w&usqp=CAU" style="width:100%;height: 80px;" onclick="currentSlide(3)" alt="Mountains and fjords">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 80px;" onclick="currentSlide(4)" alt="Northern Lights">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://wallpaperaccess.com/full/2130627.jpg" style="width:100%;height: 80px;" onclick="currentSlide(5)" alt="Nature and sunrise">
      </div>
      <div class="column">
        <img class="demo cursor" src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Beautiful-Rose-Flower-Wallpapers-HD-1080P.jpg" style="width:100%;height: 80px;" onclick="currentSlide(6)" alt="Snowy Mountains">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2 " style="border-radius: 10px;">
          <img src="https://i.pinimg.com/736x/4e/3f/61/4e3f61a18a7118974423498fd28eb799.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTObNo_1Cn_FX6gLfG9CrSLN2pnXi0H9D9ausAQpze29f2I3ZE4HcTetShuICTGKaiFm08&usqp=CAU" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.redd.it/8d7z03jtbtg71.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.pinimg.com/originals/84/64/e3/8464e3020574ef810d65db3358efb838.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.pinimg.com/736x/4e/3f/61/4e3f61a18a7118974423498fd28eb799.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTObNo_1Cn_FX6gLfG9CrSLN2pnXi0H9D9ausAQpze29f2I3ZE4HcTetShuICTGKaiFm08&usqp=CAU" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.redd.it/8d7z03jtbtg71.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.pinimg.com/originals/84/64/e3/8464e3020574ef810d65db3358efb838.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.pinimg.com/736x/4e/3f/61/4e3f61a18a7118974423498fd28eb799.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTObNo_1Cn_FX6gLfG9CrSLN2pnXi0H9D9ausAQpze29f2I3ZE4HcTetShuICTGKaiFm08&usqp=CAU" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.redd.it/8d7z03jtbtg71.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="container p-2" style="border-radius: 10px;">
          <img src="https://i.pinimg.com/originals/84/64/e3/8464e3020574ef810d65db3358efb838.jpg" style="border-radius: 10px;" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <h3>              
                <b>Daliya</b>
              </h3>
              <a href="{% url 'details' %}" class="btn" style="font-family:cursive;background-color: rgb(248, 81, 109);color: white;">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

{% endblock %}